# Exclude the virtual environment directory
airflow-venv-main/

# Exclude specific config files
config/kafka/kafka_config.json
config/kafka/kafka_secrets.json
config/spark_config.json
tests/


#ignore yasin's virtual env
azuremigrationvenv/

#ignore yasin's credentials
config/credentials.json